* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Momo Trust Display", sans-serif;
}
/* Navigation*/
nav {
  box-shadow: 5px 5px 5px oklab(59.357000000000006% 0.23136 -0.04004 / 0.224);
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  background: palevioletred;
  padding: 5px 20px;
  z-index: 1000;
  height: 70px;
}
.logo_container img {
  border-radius: 30px;
  max-width: 100px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: palevioletred;
  height: 95%;
  padding: 0;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  gap: 50px;
  background-color: pink;
  border-radius: 10px;
}

.hero img {
  width: 350px;
  border-radius: 50%;
}

.hero-content {
  max-width: 450px;
}

.tag {
  background: #5e8e3e;
  color: white;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}
.hero-content h1 {
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
  margin: 10px 0;
}

.hero-content p {
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
}
button {
  padding: 10px 20px;
  border: none;
  transition: 0.2 ease-in-out;
}

.explore_btn {
  padding: 10px 20px;
  border: 1px solid #aaa;
  background: #efefef;
  cursor: pointer;
  font-size: 15px;
  border-radius: 4px;
  align-self: flex-start;
}

.btn:hover {
  background: #ddd;
}
.features {
  margin-top: 5px;
  display: flex;
  justify-content: center; /* center all cards */
  align-items: center;
  gap: 5px;
  margin-bottom: 80px;
}

.feature {
  width: 300px;
  background: palevioletred;
  padding: 5px;
  border-radius: 12px;
  text-align: center; /* text center */
  display: flex;
  flex-direction: column;
  align-items: center; /* content center */
  gap: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.feature img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.feature_content {
  font-size: 14px;
  line-height: 1.4;
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 20px;
  justify-content: center;
  background-color: pink;
  border-radius: 10px;
}
.menu .tag2 {
  align-self: center;
}
.grid {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}
.item1 {
  grid-area: I1;
}
.item2 {
  grid-area: I2;
}
.item3 {
  grid-area: I3;
}
.item4 {
  grid-area: I4;
}
.item5 {
  grid-area: I5;
}
.item6 {
  grid-area: I6;
}
.item7 {
  grid-area: I7;
}
.grid_image {
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.grid_image:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
.grid img {
  width: 100%;
  height: 150px;
  max-width: 100%;
  object-fit: cover;
}

@media (max_width: 786px) {
  .hero {
    flex-direction: column;
  }
  .hero_image img {
    width: 90%;
  }
  .hero-content {
    gap: 10px;
    padding: 10px;
  }
  .hero-content h1 {
    font-size: 32px;
  }
}
